.name{
    color: navy;
    font-size:50px;
    font-family: 'Amatic SC', cursive;
}

/************************************/
       /*top navigation bar*/
.navbar{
    overflow: hidden;
    background-color: rgb(255, 255, 255);


} 

#navbar a {
    float: left;
    display: block;
    color: #3d3737;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
/*************************************************/
.main_section{
    background-color: rgb(175, 193, 218);
    padding: 30px;
    margin: 3vw 25vw 15vw;
    color: rgb(8, 8, 80);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.link{
    text-align: right;
    color: rgb(8, 8, 80);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}
/*************************************************/

/* for the images*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
}

.column {
    flex: 50%;
    max-width: 40%;
    padding: 0 4px;

}



.column img {
    margin-top: 100px 150px;
    vertical-align: middle;
}


img {

    padding: 10px;
}

div.item {
    background-color: rgb(175, 193, 218);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.75vw;
    width: 50vw;
    height: autosize;

    margin: 60px;
    display: inline-block;
     padding: 50px;
  }
/*************************************************/

/* Expand Words*/
#more {display: none;}

/************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}